:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --secondary-text-color: #ffffff;
    --button-background: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  color:var(--title-text-color);
}
li {
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}

/* Шапка сайта */
.header {
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}
.main-link {
  display: flex;
  align-items: center;
}

.logo {
  color:var(--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo-part {
  color: var(--title-text-color);
}
.logo-lower {
  color:var(--secondary-text-color);
}

 .site-nav {
display: flex;
}

.item {
margin-right: 50px;
}

 .item:last-child {
margin-right: 0;
}

.nav-links {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px;
  display: inline-block
}

.nav-links:hover,
.nav-links:focus {
  color:var(--accent-color);
}

.site-nav .nav-links:current {
  color: var(--accent-color);
}
.communication {
  display: flex;
  margin-left: auto;
}
 
.communication-first {
  color:var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.communication-first:hover,
.communication-first:focus {
  color:var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

/*Герой */
.hero {
   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
 
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}

 /* Преимущества */

 .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }
 .section.no-padding {
   padding-top: 0
 }

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-item:last-child {
  margin-right: 0;
}

.information {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.information:last-child{
margin-right: 0;
}

/* Услуги */
.list{
  display: flex;
}
.list-item {
  margin-right: 30px;
}
.list-item:last-child {
  margin-right: 0;
}

 /* Сотрудники */
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.profession {
  color:var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
.border{
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #EEEEEE;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color:var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
}
.communication-second {
  color:var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}


/* Портфолио */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-elements:nth-child(3n) {
  margin-right: 0;
}
.portfolio-elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-border{
  border: 1px solid #EEEEEE;
  border-top: transparent;
  padding: 20px 24px 20px 24px;
}
.filtr{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-list{
  
  margin-right: 8px;
}
.filtr-list:last-child{
  margin-right: 0;
}
.portfolio-button {
  color: var(--title-text-color);
  background-color:var(--button-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}


.portfolio-button:focus,
.portfolio-button:hover {
  background-color:var(--accent-color);
  color: var(--secondary-text-color);
}
.portfolio-title {
  color:var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}
.portfolio-item {
  color:var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}
.portfolio-link {
  text-decoration: none;
}
button {
  font-family: inherit;
}
